::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    width: 600px;
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;

}

.card {
    background-color: #fff;
    width: 300px;
    z-index:999;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    font-size: 15px;
    color: #403f3f;
    font-weight: bold;
}

.cross {
    font-size: 11px;
    color: #b0aeb7;
}

.pin {
    font-size: 14px;
    color: #b0aeb7;
}

.first {
    border-radius: 8px;
    border: 1.5px solid #78b9ff;
    color: #000;
    background-color: #eaf4ff;
}

.second {
    border-radius: 8px;
    border: 1px solid #acacb0;
    color: #000;
    background-color: #fff;
}

.dot {
    margin-left: -31px !important;
}

.head {
    color: #137ff3;
    font-size: 12px;
}

.dollar {
    font-size: 18px;
    color: #097bf7;
}

.amount {
    color: #007bff;
    font-weight: bold;
    font-size: 18px;

}

.form-control {
    font-size: 18px;
    font-weight: bold;
    width: 60px;
    height: 28px;

}

.back {
    color: #aba4a4;
    font-size: 15px;
    line-height: 73px;
    font-weight: 400;
}


 .buttoner {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px !important;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttoner:hover {
    background-color: #0e4bf1;
}