.spinner {
    position: relative;
    width: 100%;
    height: 100%;
}

.spinner div {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-btn {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    padding:8px;
    border-radius:30px;
    width:100%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
}

.continue-btn:active {
    transform: scale(0.95);
}